<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Server</key>
	<dict>
		<key>pathExtention</key>
		<string></string>
		<key>host</key>
		<string>sg.fgg.me</string>
	</dict>
	<key>Modules</key>
	<dict>
		<key>NewGameModule</key>
		<dict>
			<key>RoleCharactorTypeTable</key>
			<dict>
				<key>1</key>
				<string>zhongchen</string>
				<key>2</key>
				<string>zhugong</string>
				<key>3</key>
				<string>neijian</string>
				<key>4</key>
				<string>fanzei</string>
			</dict>
			<key>RoleDeadTypeTable</key>
			<dict>
				<key>1</key>
				<string>zhongchen_dead</string>
				<key>2</key>
				<string>zhugong_dead</string>
				<key>3</key>
				<string>neijian_dead</string>
				<key>4</key>
				<string>fanzei_dead</string>
			</dict>
			<key>GameTypeTable</key>
			<dict>
				<key>1</key>
				<integer>5</integer>
				<key>2</key>
				<integer>6</integer>
				<key>3</key>
				<integer>6</integer>
				<key>4</key>
				<integer>7</integer>
				<key>5</key>
				<integer>8</integer>
				<key>6</key>
				<integer>8</integer>
				<key>7</key>
				<integer>9</integer>
				<key>8</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>LevelExperience</key>
	<dict>
		<key>YongGuan</key>
		<dict>
			<key>1</key>
			<string>狂战士</string>
			<key>2</key>
			<string>龙牙精英</string>
			<key>3</key>
			<string>虎牙精英</string>
			<key>4</key>
			<string>狼牙精英</string>
			<key>5</key>
			<string>铁血精英</string>
			<key>6</key>
			<string>武士精英</string>
			<key>7</key>
			<string>镜武士</string>
			<key>8</key>
			<string>银盔武士</string>
			<key>9</key>
			<string>钢甲武士</string>
			<key>10</key>
			<string>铜盔武士</string>
			<key>11</key>
			<string>革甲武士</string>
			<key>12</key>
			<string>布衣武士</string>
			<key>13</key>
			<string>钝刀武士</string>
			<key>14</key>
			<string>落魄武士</string>
		</dict>
	</dict>
</dict>
</plist>
