<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellbkg</key>
	<string>3,277,279,35</string>
	<key>yellow_status</key>
	<string>476,24,15,15</string>
	<key>green_status</key>
	<string>492,24,15,15</string>
	<key>red_status</key>
	<string>476,40,15,15</string>
	<key>gray_status</key>
	<string>492,40,15,15</string>
	<key>sanguosha</key>
	<string>7,129,251,114</string>
	<key>sword</key>
	<string>266,123,223,27</string>
	<key>back</key>
	<string>265,198,120,30</string>
	<key>back_on</key>
	<string>390,198,120,30</string>
	<key>input_background</key>
	<string>10,11,372,103</string>
	<key>login</key>
	<string>290,244,50,50</string>
	<key>login_on</key>
	<string>402,10,48,49</string>
	<key>lock</key>
	<string>458,1,18,22</string>
	<key>lock_on</key>
	<string>476,1,16,23</string>
	<key>unlock</key>
	<string>493,1,17,23</string>
	<key>unlock_on</key>
	<string>458,23,18,23</string>
</dict>
</plist>
