<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refresh_on</key>
	<string>352,1,98,35</string>
	<key>refresh</key>
	<string>352,37,98,35</string>
	<key>return_on</key>
	<string>352,72,98,35</string>
	<key>return</key>
	<string>352,109,98,35</string>
	<key>titlebar</key>
	<string>1,314,479,48</string>
</dict>
</plist>
