<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4fW75qrtASYP50oWhCaa2Q==</key>
	<string>cwpq2U5adWgW3gOQDQko0A==</string>
	<key>f95SBufAe6v8abNYlRn2FQ==</key>
	<string>qbjSy47UP/5vrr00NpGnMw==</string>
	<key>fLTMyZ2zWsfP+DIVZFcX6Q==</key>
	<string>qDtVRpjz1sznMI6aJpqpWw==</string>
	<key>iIx3QvHYn5FjY4WAwG5uOg==</key>
	<string>daUQl0fNu1h7UheO+7s6sA==</string>
	<key>lF6l4lreIIfB1qgpIqs5IQ==</key>
	<string>e9V+1WE/uZagb45xz65onw==</string>
</dict>
</plist>
