<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4G3q8/4lUZkeIg4FZibHRw==</key>
	<string>4Ewz5S8hbv5orw98y8Gfjw==</string>
	<key>J5n08+4v71qDXlQbFg5diw==</key>
	<string>9TfkmlL2O4QEda0hlhUe/A==</string>
	<key>LAvrvZVQ/Gn4q/n2aI6hug==</key>
	<string>ReD1B6MWOyo1gqFOOXepUg==</string>
	<key>QpgQCKU6qggQ7C8w7xZSMPGguzWen3arV05SLZgNcxU=</key>
	<string>FO6WvKL8tXlHa19lE5HmAg==</string>
	<key>WzynqPv3IUZr9LrDaIWAMA==</key>
	<string>RwLyw9ymezzkculzDLrpKA==</string>
	<key>ec2jlRfwYnGfnhTbERIFjA==</key>
	<string>nm/WQABlQBru4PijfmS/BQ==</string>
	<key>hy2gDmCJTgoiNwKVv13l3Q==</key>
	<string>OyVeAbNvWdnHXBWzyXNx+A==</string>
	<key>jIKnJxXIcjeuFO00TsLi8w==</key>
	<string>3wuGVRoWOdeSiBa54LwUWQ==</string>
	<key>mTGcOxBGIXhpAqRUKZ3Z0A==</key>
	<string>1PP903Fz1BDnapMiI4+KoA==</string>
	<key>nawQ6hxqWy4PBUJdJ/w2xg==</key>
	<string>G7yCwByD73PqiSEIrtd91g==</string>
	<key>prsfbc7j6CuN04YHhK8T7A==</key>
	<string>/qMOnOK0LcVTdTOb0B4SJA==</string>
	<key>qV2Qxo6TitPDnIMWHSkWuw==</key>
	<string>VTW5MehW/8zh12PWxrrXIw==</string>
	<key>rpdJtI7QyrTeBdTRSdSZ5w==</key>
	<string>xmy1DzZsOQsNTSiKkycdrA==</string>
	<key>tidB8zVAl6AN9xkvgbaaKg==</key>
	<string>DHIfnmsWiQXd7ePzzXttPQ==</string>
	<key>uz3Z5gP7/aN/8wZUenAWqA==</key>
	<string>Xn08FlpK01uZJxpMZNgwaQ==</string>
	<key>y2Pew7T7T/NcsMI6owVJgQ==</key>
	<string>yVEXPcH0nXdwPMOAuzFtVQ==</string>
</dict>
</plist>
