<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/uScHYqwiHAKscBuF5HLQQ==</key>
	<string>9/9OoDYLZLobJO2HpwxRzw==</string>
	<key>2mm5zTgW5+lnvFHYu9vf7w==</key>
	<string>CpOyljilHfSTZ09RK7F4rQ==</string>
	<key>EYVTiMqRFf6XsmIsOeH+vw==</key>
	<string>IAw8uwB3fpFDFBGs/k3g0g==</string>
	<key>S9ZBMqWKKxqpaiesqXcXeQ==</key>
	<string>JXqKGN0Qcebei1NePknPQQ==</string>
	<key>WzynqPv3IUZr9LrDaIWAMA==</key>
	<string>uRq2hvT8REJQqxWmuyPs1w==</string>
	<key>yy+6RDETWMQGXUhEvR2mwg==</key>
	<string>T0Bne3pKZ4F+28U/zhbhGQ==</string>
	<key>zy4KJQp19IkHmgDKUDYONQ==</key>
	<string>+uuoHHpjpEHOkoEIuJ59kA==</string>
</dict>
</plist>
