<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inforbkg</key>
	<string>2,2,117,313</string>
	<key>menu</key>
	<string>123,175,83,33</string>
	<key>menu_on</key>
	<string>384,178,83,33</string>
	<key>create</key>
	<string>212,160,83,33</string>
	<key>create_on</key>
	<string>299,161,83,33</string>
	<key>createbkg</key>
	<string>122,40,320,30</string>
	<key>createbkg_on</key>
	<string>122,70,320,30</string>
	<key>titlebar</key>
	<string>0,320,479,30</string>
	<key>cellbkg</key>
	<string>122,40,318,30</string>
	<key>cellselectedbkg</key>
	<string>122,70,318,30</string>
</dict>
</plist>
