<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0j86+LOFU1Vl0xIy0Vm4yA==</key>
	<string>sro4DfJLFt3XXalq5ZPKSw==</string>
	<key>10G8rwEuhLaG7yC+jw2opw==</key>
	<string>0N7iHF2vpxQWUl9I5DXSIg==</string>
	<key>1OW12/fdv5kUkHFoaP0HPQ==</key>
	<string>TbMqQ9lDZVWh6FiCQXyUSw==</string>
	<key>A+EcRpSYZ3BEIvvFWRIURw==</key>
	<string>oEgevVrqCV4th7uWIVE0kw==</string>
	<key>Dp7xV74UAVcPNBuMtbSFJg==</key>
	<string>4lYWWjxf9uP5B07swOTWvQ==</string>
	<key>FtJecQwLJgZcDAwjuueTxg==</key>
	<string>qTnl6NOfRUzcS141NL5ZwA==</string>
	<key>Rns2UxL6vzK6yjiVl3nDVA==</key>
	<string>IcS7VyJCMlmTbr4GN+mZzg==</string>
	<key>U/HWgMDjXlAp/Qc2y1Qi1Q==</key>
	<string>+8NZPdp1GMVdfXqMF70xXA==</string>
	<key>fLTMyZ2zWsfP+DIVZFcX6Q==</key>
	<string>23F1VY2HY72UyU9t4ZkuAw==</string>
	<key>k0fN663BDCUMQTAi8U/fWQ==</key>
	<string>3RdW+T0KEM+cZo+5oIeIiw==</string>
	<key>pHuSBvos5UQTEtIoygGpNw==</key>
	<string>oRe2czj2iP5WaT3mUHWAEg==</string>
	<key>ptDQXiRPjbqGTfIX41GGiQ==</key>
	<string>7/kltsmKrPLN5s6i0wpwPA==</string>
	<key>tidB8zVAl6AN9xkvgbaaKg==</key>
	<string>v7qzr1oMO3rzpYF3t6q59A==</string>
	<key>yZNxgjDY6pkFKFzpC1Xqjg==</key>
	<string>CuCdbqsX3hngRpf7JFaf1A==</string>
	<key>yy+6RDETWMQGXUhEvR2mwg==</key>
	<string>aV/m89kkwyyZBX8XZO63Ig==</string>
	<key>zy4KJQp19IkHmgDKUDYONQ==</key>
	<string>rB3qYUFSrgJlJWp0JyOsvA==</string>
</dict>
</plist>
