<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2napyyVdDF8Osi9F1VZXbw==</key>
	<string>I9kEZ/dkWbN6h6BkgjlIuQ==</string>
	<key>J3cVSG/nY2/VbMQ2fE78zQ==</key>
	<string>4ECOX9iu2P6kkSZFs1KL3A==</string>
	<key>O5s9tcROErXyF2ECUSnM/g==</key>
	<string>4LMZebGL2iaCSwF1p8sWdA==</string>
	<key>OQ48ovp0ql/7+mp3KLJCaA==</key>
	<string>Yw8b9PCkaL7xBhOla6NTgQ==</string>
	<key>TAZn6bXMFRdQAZmy9aDY5g==</key>
	<string>52E2GcyADPqRMlZvYiYoMw==</string>
</dict>
</plist>
