<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zhugong</key>
	<string>452,788,307,30</string>
	<key>zhongchen</key>
	<string>1461,785,304,34</string>
	<key>neijian</key>
	<string>1124,785,306,33</string>
	<key>fanzei</key>
	<string>788,785,307,34</string>
</dict>
</plist>
