<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/duYdXxiWrbkcT9ntxxEvA==</key>
	<string>Kkz2oV0goIfrx6pf5TrWpA==</string>
	<key>90LwONpO7N11hoYDo0qM1g==</key>
	<string>lEiBiKGe7YE0jx4cBdkr5g==</string>
	<key>I4ItlrcfuCuH+jvMRymRhQ==</key>
	<string>14/VxEC11nZOHVgVpK1XYA==</string>
	<key>JwLMSI5sjt+RjGq78AKgnA==</key>
	<string>IWuM2w4FAkGv7uVyOGHj6A==</string>
	<key>Zq2Vr48Ur9AcgMDnjCWkqw==</key>
	<string>KcydDvylfBgb/DoeAfdsDA==</string>
	<key>aJ7gWEF2V4f5LaQfTbfDWw==</key>
	<string>9z5FZ88qwTOo8eZCRkXlPg==</string>
	<key>sKZuk0JRarnqqAr0NWZO8A==</key>
	<string>wkLfZpjIbqdHXEl4VEM7Bg==</string>
	<key>vXTooonclI7PNodF5sa1IQ==</key>
	<string>Mr/WuCAZkpfyCFmReRflCQ==</string>
</dict>
</plist>
