<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RD8b0hhSwMWBUy1GEbzeRQ==</key>
	<string>gLQMllBiwPGA0YTNyPRtiA==</string>
	<key>jn8w+27LXe3hHJWPuj68Gg==</key>
	<string>mCIsBrP+KKLXc5J/madNEQ==</string>
	<key>nXq6CRyALglvfOEGSQ/OwQ==</key>
	<string>DJiRBVCJDB3zj80DaUCCQw==</string>
</dict>
</plist>
