<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2sQ+ERDdUq/4Eoividr/Iw==</key>
	<string>lZEQTt9wb0vH4ywfIAXhiQ==</string>
	<key>4fW75qrtASYP50oWhCaa2Q==</key>
	<string>btIqhwgbmnYAnqyVOI4BbQ==</string>
	<key>Dl5qQMq1E2wYVYCChBYM5Q==</key>
	<string>WURqi/4/16Uu+8fr+M5krg==</string>
	<key>MCPw5/D5nbrCKtNQlj+/Og==</key>
	<string>ZT9JlVilToXRGWNh4oxs7A==</string>
	<key>iIx3QvHYn5FjY4WAwG5uOg==</key>
	<string>cYP7aM2x5PkS1lG+gprTLQ==</string>
	<key>r4qiUcUXJeufNrePHm/M8Q==</key>
	<string>xOQvtAu4Gtwh7yikPzYdzQ==</string>
</dict>
</plist>
