<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>close</key>
	<string>123,332,56,26</string>
	<key>close_on</key>
	<string>181,334,56,26</string>
	<key>open</key>
	<string>239,339,56,26</string>
	<key>open_on</key>
	<string>297,347,56,26</string>
	<key>kaishi</key>
	<string>405,239,82,82</string>
	<key>kaishi_on</key>
	<string>324,180,82,82</string>
	<key>dianjiang</key>
	<string>0,262,57,57</string>
	<key>dianjiang_on</key>
	<string>55,263,57,57</string>
</dict>
</plist>
