<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0Iexu90+9ov3qpDnWt9KHA==</key>
	<string>PSoW9gmUTug5VSc4hxonrg==</string>
	<key>4acpX/4Mj5dlrqfH0wLRvQ==</key>
	<string>haI9sVEkr0ujP1ATM6YF2A==</string>
	<key>C0iXcpbmSFVl/mFGXn18iQ==</key>
	<string>G4fgltcRrEz+p/svMbrFsw==</string>
	<key>DWJg8O1am0vSazlpbShPJA==</key>
	<string>dI+guwx2kf7TvL8ywnFQrA==</string>
	<key>GNEzelOiBEeTQD6FD13gtg==</key>
	<string>RgKVKQEPMG8IbZvJnmIPYA==</string>
	<key>RSYS6ARSyOjTIHjq7xryDA==</key>
	<string>eRoIS+VwB9z7lrZtGtHJpw==</string>
	<key>bTB/tIZQNL+J0/oKfFTRqw==</key>
	<string>jrLpNbR+EQwyE5pqB8NFcg==</string>
	<key>i/wK4PF9I0taZuGJn/msKg==</key>
	<string>2KaCpr6bvddoMvkOHwstCg==</string>
	<key>mBFLAqKCxDhEqi0e+ASz9Q==</key>
	<string>hVrdl4rqV5rczEyhleKTvg==</string>
	<key>xfs1foBHl2xamuqSeE0xZQ==</key>
	<string>M9FVGeEkfK6fwvshbhawPg==</string>
</dict>
</plist>
